.rodape {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1 px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.rodape p {
    margin: 0;
    font-size: 14px;
}