.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.conteudo h2 {
    font-size: 5rem;
    color: #e50914;
    margin-bottom: 1rem;
}
.conteudo p {
    font-size: 1.5rem;
    margin-bottom: 2rem;

}