header{
    background-color: #000000;
    color: #ffffff;
    border-bottom: 1px solid rgb(111, 3, 233);
    padding: .5rem;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
span{
    font-size: 1.5rem;
    font-weight: bold;
}
.header a{
    text-decoration: none;

    color: #ffffff;
    text-decoration: none;
    margin-left: 1rem;
}