.banner{
    width: 100%; //fullhd
    height: 347px;
    background-image: url('/public/images/banner-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}