.banner {
    width: 100%;
    height: 347px;
    background-image: url('/public/imagens/banner-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}